* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #222;
  color: #fff;
  display: grid;
  place-items: center;
  min-height: 100dvh;
}

button {
  border: 0;
  padding: 10px;
  margin-right: 10px;
  border-radius: 16px;
  cursor: pointer;
}
